li a {
	    color: green;
	}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.btn.overview {
	margin-right:4px;
}


tr.d0 td {
	background-color: #F0F0F0; color: black;
	}

