{% extends "index.html" %}

<!DOCTYPE html>

{% block title %}{{ block.super }}: Presenter details {% endblock %}

{% block content %}
	
	{% if presenter and meetings_count >= 0 %}

		<div class="page-header"><h2>{{presenter.first_name}} {{presenter.last_name}} <small>{{meetings_count}} session{{ meetings_count | pluralize }}</small></h2></div>	
		<div class="row">
		<div class="col-md-12">
		{% if meetings_count > 0 %}
			{% for meeting in meetings %}
				
				<div class="col-md-3" style="padding-left:0px;padding-right:4px;">
						{% include "meetings/meeting_single_small.html" %}
				</div>

			<!-- add links to user stats -->
			{% endfor %}
		{% else %}
			<div class="col-md-4">
				<p>No meetings available - <a href="{% url 'admin:meetings_meeting_add' %}">claim a slot</a>.</p>
			</div>
		{% endif %}
		</div>
		</div>
		<p style="margin-top:10px;"><strong><a href="javascript: window.history.go(-1);"><span class="glyphicon glyphicon-chevron-left"></span> back to overview</a></strong></p>
	{% endif %}

{% endblock %}
