{% extends "index.html" %}

<!DOCTYPE html>

{% block title %}LCN Journal Club: Presenter details {% endblock %}

{% block content %}
	
	{% if presenter and meetings_count >= 0 %}

		<div class="page-header"><h2>{{presenter.first_name}} {{presenter.last_name}} <small>{{meetings_count}} session{{ meetings_count | pluralize }}</small></h2></div>	
		<div class="row">
		{% if meetings_count > 0 %}
			{% for meeting in meetings %}
			
			<div class="col-md-4">
	          <div class="panel panel-default">
	            <div class="panel-heading">
	              <h3 class="panel-title"><a href="{% url 'meetings_detail' meeting.id %}">{{ meeting.timeslot.date_time | date:"D, d. M @ P" }}, {{meeting.presenter.first_name}} {{meeting.presenter.last_name}}</a></h3>
	            </div>
	            <div class="panel-body">
	              <p>
	                <a  target="_blank" href="{{ meeting.publication_url }}"> {{ meeting.publication_reference }}</a>
	              </p>
	              <p>
	                 {% for cat in meeting.publication_category.all %} <span class="label label-info">{{ cat.name }}</span> {% empty %} uncategorized {% endfor %}
	              </p>
	              <p><small>@ {{meeting.location}}</small></p>
	            </div>
	          </div>
	        </div>

			<!-- add links to user stats -->
			{% endfor %}
		{% else %}
			<div class="col-md-4">
				<p>No meetings available - <a href="{% url 'admin:meetings_meeting_add' %}">claim a slot</a>.</p>
			</div>
		{% endif %}
		</div>

		<p><strong><a href="javascript: window.history.go(-1);"><span class="glyphicon glyphicon-chevron-left"></span> back to overview</a></strong></p>
	{% endif %}

{% endblock %}
