{% extends "index.html" %}

<!DOCTYPE html>

{% block title %}LCN Journal Club: Meeting details {% endblock %}

{% block content %}
	
	<div class="page-header">
		<h2>
			Meeting
			{% if meeting %}
				<small>
					{{ meeting.timeslot.date_time | date:"D, d. M @ P" }}
				</small>
			{% endif %}
		</h2>
	</div>

	{% if meeting %}

	<div class="row">
		<div class="col-md-10">
			<div class="table-responsive">
				<table class="table table-condensed table-striped">
					<tr>
						<td><strong>Place</strong></td> 
						<td> {{ meeting.location }} </td>
					</tr>
					<tr>
						<td><strong>Presenter</strong></td>
						<td>{{ meeting.presenter.first_name }} {{ meeting.presenter.last_name }}</td>
					</tr>
					<tr>
						<td><strong>Categories</strong></td>
						<td> 
							{% if meeting.publication_category.all.count >= 0 %}
								{{ meeting.publication_category.all | join:", " }}
							{% else %}
								uncategorized
							{% endif %}
						</td>
					</tr>
					<tr>
						<td><strong>Publication</strong></td>
						<td><a target="_blank" href="{{ meeting.publication_url }}">{{ meeting.publication_reference }}</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<p><a href="{% url 'meetings_index' %}">back</a></p>

	{% endif %}

{% endblock %}
