{% extends "index.html" %}

<!DOCTYPE html>

{% block title %}{{ block.super }}: Meeting details {% endblock %}

{% block content %}
	
	<div class="page-header">
		<h2>
			Meeting
			{% if meeting %}
				<small>
					{{ meeting.timeslot.date_time | date:"D, d. M @ P" }}
				</small>
			{% endif %}
		</h2>
	</div>

	{% if meeting %}
	<p><a href="{% url 'admin:meetings_meeting_change' meeting.id %}"><span class="glyphicon glyphicon-wrench"></span> edit meeting</a></p>

	<div class="row">
		<div class="col-md-10">
			<div class="table-responsive">
				<table class="table table-condensed table-striped">
					<tr>
						<td><strong>Place</strong></td> 
						<td> {{ meeting.location }} </td>
					</tr>
					<tr>
						<td><strong>Presenter</strong></td>
						<td><a href="{% url 'presenters_detail' meeting.presenter.id %}">{{ meeting.presenter.first_name }} {{ meeting.presenter.last_name }}</a></td>
					</tr>
					<tr>
						<td><strong>Categories</strong></td>
						<td> 
							{% for cat in meeting.publication_category.all %} 
				                <span class="label label-info">{{ cat.name }}</span>
				            {% empty %}
				                uncategorized 
				            {% endfor %}
						</td>
					</tr>
					<tr>
						<td><strong>{{ BRANDING.FIELD_PUBLICATION }}</strong></td>
						<td>
							{% if meeting.publication_url and not meeting.publication_url == "#" %}
							<a href="{{ meeting.publication_url }}">
							{% endif %}
								{{ meeting.publication_reference }}
							{% if meeting.publication_url and not meeting.publication_url == "#" %}
							</a>
							{% endif %}
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<p><strong><a href="javascript: window.history.go(-1);"><span class="glyphicon glyphicon-chevron-left"></span> back to overview</a></strong></p>

	{% endif %}

{% endblock %}
