{% extends "index.html" %}

<!DOCTYPE html>

{% block title %}LCN Journal Club: Meeting details {% endblock %}

{% block content %}
	
	{% if meeting %}

	<p>

	<table border="0" width="600">
		<tr class="d0"><td>Date/Time/Place</td> <td> <b>{{ meeting.timeslot }}</b> at {{ meeting.location }} </td></tr>
		<tr><td>Presenter</td>       <td> {{ meeting.presenter }}</td></tr>
		<tr class="d0"><td>Categories</td>      <td> {% for cat in meeting.publication_category.all %} {{ cat.name }} {% empty %} uncategorized {% endfor %} </td></tr>
		<tr><td>Publication</td>     <td> {{ meeting.publication_reference }}</td></tr>
		<tr class="d0"><td>Full text</td>       <td> <a href="{{ meeting.publication_url }}"> {{ meeting.publication_url }}</a> </td></tr>
	</table>
	</p>

	<p><a href="/meetings/">back</a></p>

	{% endif %}

{% endblock %}
