{% extends "index.html" %}

<!DOCTYPE html>

{% block title %}{{ block.super }}: All meetings{% endblock %}

{% block content %}

<div class="page-header"><h2>Upcoming {{BRANDING.DESC}}s <small>next first</small></h2></div>
<div class="row">
	<div class="col-md-12">
		{% if upcoming_meetings_list %}
			{% for meeting in upcoming_meetings_list %}
				<div class="col-md-3" style="padding-left:0px;padding-right:4px;">
					{% include "meetings/meeting_single_small.html" %}
				</div>
			<!-- add links to user stats -->
			{% endfor %}
		{% else %}
			<p>No meetings available.</p>
		{% endif %}
	</div>
</div>

<div class="page-header"><h2>Past {{BRANDING.DESC}}s <small>newest first</small></h2></div>
<div class="row">
	<div class="col-md-12">
		{% if past_meetings_list %}
			{% for meeting in past_meetings_list %}
				<div class="col-md-3" style="padding-left:0px;padding-right:4px;">
					{% include "meetings/meeting_single_small.html" %}
				</div>
			<!-- add links to user stats -->
			{% endfor %}
		{% else %}
			<p>No meetings available.</p>
		{% endif %}
	</div>
</div>

{% endblock %}
