<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>Journal Clubs -- Home</title>
		<link rel="stylesheet" type="text/css" href="{% static 'meetings/style.css' %}" />
	</head>
<body>

<h2>Upcoming journal clubs</h2>
{% if upcoming_meetings_list %}
	{% for meeting in upcoming_meetings_list %}
	<p> 
	<a href="/meetings/{{ meeting.id }}/">{{ meeting.timeslot }}</a> {{meeting.presenter}} [ {% for cat in meeting.publication_category.all %} {{ cat.name }} {% empty %} uncategorized {% endfor %} ] <br/>
	{{ meeting.publication_reference }} 
	<a href="{{ meeting.publication_url }}">full text</a>
	</p>
	<!-- add links to user stats -->
	{% endfor %}
{% else %}
	<p>No meetings are available.</p>
{% endif %}

<h2>Next slots and presenters</h2>
To sign up please <a href="/admin/">log in</a> and create a new meeting.
<table>
	<tr>
		<td>
			{% if upcoming_timeslots_list %}
				<ol>
				{% for timeslot in upcoming_timeslots_list %}
					<li>{{ timeslot.date_time}}</li>
				{% endfor %}
				</ol>
			{% else %}
				<p>No timeslots are available.</p>
			{% endif %}
		</td>
		<td>
			{% if upcoming_presenters_list %}
				<ol>
				{% for presenter in upcoming_presenters_list %}
				
					<li>{{ presenter.username}}</li>
				{% endfor %}
				</ol>
			{% else %}
				<p>No presenters are available.</p>
			{% endif %}
		</td>
	</tr>
</table>

</body>
</html>
