{% load staticfiles %}
{% load admin_urls %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "img/icon.png" %}">

    <title>{% block title %}LCN Journal Club: Central{% endblock %}</title>

    {% block scripts %}{% endblock %}

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="{% static "jclub/css/jclub.css" %}" rel="stylesheet"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static "jclub/js/jquery-1.11.1.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  </head>


  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">LCN Journal Club</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'meetings_index' %}">Meetings</a></li>
            <!-- <li><a href="papers/">Papers</a></li>
            <li><a href="users/">Users</a></li> -->
            
            <!--
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">aha <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">1</li>
                <li><a href="#">2</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">3</li>
                <li><a href="#">4</a></li>
              </ul>
            </li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Begin page content -->
    <div class="container">
      {% block content %}

      <div class="page-header"><h2>Journal Club Overview</h2></div>
      <div class="row">

        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Upcoming meetings</h3>
            </div>
            <div class="panel-body">

              {% if upcoming_meetings_list %}
                {% for meeting in upcoming_meetings_list %}
                
                <a href="{% url 'meetings_detail' meeting.id %}"><button type="button" class="overview btn btn-default pull-left">{{ timeslot.date_time | date:"D, d. M @ P"}}{{ meeting.timeslot.date_time | date:"d. M @ P" }} <small>{% for cat in meeting.publication_category.all %} <span class="label label-info">{{ cat.name }}</span> {% empty %} uncategorized {% endfor %}</small></button></a>

                {% endfor %}
              {% else %}
                <p>No upcoming meetings available.</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Free slots</h3>
            </div>
            <div class="panel-body">
                {% if upcoming_timeslots_list %}
                {% for timeslot in upcoming_timeslots_list %}
                  <a href="{% url 'admin:meetings_meeting_add' %}"><button type="button" class="overview btn btn-default pull-left">{{ timeslot.date_time | date:"D, d. M @ P"}}</button></a>
                {% endfor %}
                
              {% else %}
                <p>No timeslots are available.</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Pending presenters</h3>
            </div>
            <div class="panel-body">
              {% if upcoming_presenters_list %}
                {% for presenter in upcoming_presenters_list %}
                <a href="{% url 'presenters_detail' presenter.id %}"><button type="button" class="overview btn btn-default pull-left">
                {{ forloop.counter }}. 
                {% if presenter.first_name %}
                  {{presenter.first_name}} {{presenter.last_name}}
                {% else %}
                  {{presenter.username}}
                {% endif %}
                </button></a>         
                {% endfor %}
              {% else %}
                <p>No presenters are available.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <hr/>
      <small>To claim a slot, please <a href="{% url 'admin:meetings_meeting_add' %}">log in and create a new meeting</a>.</small>

      <div class="row">
        
      </div>


      {% endblock %}
    </div>


  </body>
</html>
